:root {
    --primary-color: #ef4444;
    --bg-dark: #111827;
    --bg-darker: #1f2937;
    --text-light: #ffffff;
    --text-gray: #9ca3af;

    --bg-light: #ffffff;
    --text-dark: #000000;
    --text-gray-dark: #4b5563;

    
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.5;
}

/* Anime day */
.anime-day-section {
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.anime-day-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.anime-day-grid {
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Anime Grid */
.anime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.anime-card {
    background-color: var(--bg-darker);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s;
}

.anime-card:hover {
    transform: scale(1.05);
}

.anime-image {
    position: relative;
}

.anime-image img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

.rating {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.anime-info {
    padding: 1rem;
}

.anime-info h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.anime-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anime-meta span {
    color: var(--text-gray);
}

.watch-button {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.watch-button:hover {
    background-color: #dc2626;
}

