body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 6rem;
}

main {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}


ul li {
    background: #202936;
    margin: 10px 0;
    padding: 10px;
    border: 9px solid #000000;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 20px 30px;
    margin: 5px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #3700b3;
}

@media (max-width: 768px) {
    header {
    
            margin-top: 13rem;
    } 
}
